.grid-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 1.5rem 1rem;
}

.table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1000px) {
  .table {
    width: 95%;
  }
}

/* mobile view  */
@media screen and (max-width: 800px) {
  .tabs-container{
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .list-tab-panel{
    width: 100vw;
    padding: 0 !important;
    margin: 0;
  }
  .table {
    margin: 0;
    padding: 0;

  }
}
